/*  * Code sourced and adapted from:
    * https://fonts.google.com/?sort=popularity */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/css/tryit.asp?filename=trycss3_var */
:root {
    --font-size-h1: 30px;
    --font-size-h2: 20px;
    --font-size-body: 15px;
    --padding: 24px 40px;
    --margin: 0 40px;
    --radius: 2px;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey-primary: #969C9C;
    --color-grey-secondary: #DBEDF3;
    --color-grey-tertiary: #0000001E;
    --color-blue-primary: #283149;
    --color-blue-secondary: #262E45;
    --color-blue-tertiary: #404B69;
    --color-green: #00818A;
}

body {
    background-color: var(--color-blue-primary);
    font-family: 'Inter', sans-serif;
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named */

/* Grid layout */
.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'header header header header'
    'nav nav nav nav'
    'main main main main'
    'footer footer footer footer';
}

/*  * Code sourced and adapted from:
    * https://developer.mozilla.org/de/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */

/* Header */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-blue-primary);
    padding: var(--padding);
    gap: 10px;
}

header img {
    width: 65px;
}

header h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: var(--color-grey-secondary);
}

.icon {
    display: none;
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_on_image
    * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sticky_element */

/* Nav */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    /* Negative top to resolve issue with Safari's compact tab layout */
    top: -0.3px;
    z-index: 4;
    background-color: var(--color-blue-primary);
}

/*  * Code sourced and adapted from:
    * https://www.tutorialrepublic.com/faq/how-to-remove-the-space-between-inline-block-elements-in-css.php */
nav ul {
    font-size: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 14px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: var(--color-grey-primary);
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    padding: 12px 16px;
    font-size: 14px;
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/howto/howto_css_navbar_border.asp */
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    color: var(--color-grey-secondary);
    border-bottom: 2px var(--color-grey-secondary) solid;
}

/* Main */
main {
    grid-area: main;
    margin: 0 auto;
    max-width: 1400px;
}

main section {
    min-height: 100vh;
}

/* About Us */
.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'background background'
    'about about'
    'article article'
    'article article';
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/CSS/css_grid_item.asp */
.about-us img {
    margin: 0 auto;
    grid-area: background;
    grid-row: 2/3;
    width: 50%;
    border: #99FFFF solid 2px;

}

/*  * Code sourced and adapted from:
    * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
.about-us article:first-of-type {
    grid-area: about;
    margin: auto auto;
    grid-row-start: 1;
    color: var(--color-grey-secondary);
    border: #99FFFF solid 2px;
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/css/tryit.asp?filename=trycss_font_responsive */
.about-us article:first-of-type h1 {
    font-size: 4vmin;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.about-us article:first-of-type p {
    font-size: 10px;
}

.about-us article:last-of-type {
    padding: var(--padding);
    grid-area: article;
    background-color: var(--color-blue-secondary);
    column-span: 2;
    border: #99FFFF solid 2px;
}

/* Seats and Prices */
.seats-and-prices {
    background-color: var(--color-grey-secondary);
}

/* Now Showing */
.now-showing {

}

/* Movie Trailer */
.movie-trailer {

}

/* Book Ticket */
.book-ticket {
    background-color: var(--color-grey-secondary);
}

/* Footer */
footer {
    grid-area: footer;
    background-color: var(--color-grey-secondary);
    height: auto;
    text-align: center;
    font-size: 12px;
    padding: var(--padding);
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/csS/css3_buttons.asp */
footer button {
    border: none;
    border-radius: var(--radius);
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-blue-primary);
    color: var(--color-grey-primary);
    transition-duration: 0.4s;
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_shadow */
footer button:hover {
    color: var(--color-grey-secondary);
    box-shadow: 0 6px 8px 0 var(--color-grey-tertiary), 0 6px 8px 0 var(--color-grey-tertiary);
}

/* Aside */
aside {
    background-color: var(--color-grey-secondary);
    padding: var(--padding);
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/css/tryit.asp?filename=trycss_template2_grid */

/* Tablet: responsive layout */
@media (max-width: 1000px) {

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
      'header header'
      'nav nav'
      'main main'
      'footer footer';
    }
}

/*  * Code sourced and adapted from:
    * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */

/* Mobile: responsive layout */
@media screen and (max-width: 600px) {

    /* Mobile: layout */
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
      'header'
      'nav'
      'main'
      'footer';
    }

    /*  * Code sourced and adapted from:
        * https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_justify-content_flex-end
        * https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_website2 */

    /* Mobile: Header */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-content: baseline;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5;
    }

    header img {
        display: none;
    }

    .icon {
        display: block;
    }

    #iconClose {
        display: none;
    }

    .fa-bars, .fa-close {
        color: var(--color-grey-primary);
        padding: 12px;
    }

    .fa-bars:hover, .fa-close:hover {
        color: var(--color-grey-secondary);
    }

    /* Mobile: Nav */
    nav {
        display: none;
    }

    /*  * Code sourced and adapted from:
        * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay */
    nav.responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        bottom: 0;
    }

    nav.responsive ul {
        width: 100%;
    }

    nav.responsive ul li {
        display: block;
    }

    nav.responsive ul li a:link, nav.responsive ul li a:visited {
        display: block;
        font-size: 20px;
    }

    nav.responsive ul li a:hover, nav.responsive ul li a:active, nav.responsive ul li a:focus {
        border-bottom: none;
        background-color: var(--color-blue-secondary);
        border-radius: 5px;
        transition: 0.5s;
    }
}
