/*  * Code sourced and adapted from:
    * https://www.tutorialspoint.com/css/css_printing.htm
    * https://www.w3schools.com/cssref/pr_print_pagebi.asp
    * https://developer.mozilla.org/en-US/docs/Web/CSS/@page
    * https://stackoverflow.com/questions/16649943/css-to-set-a4-paper-size
    */

@page  {
    size: A4;
    margin: 0;
}

@media print {

    html, body {
        width: 210mm;
        height: 297mm;
    }

    header, nav, footer, aside, h1.receipt-ticket-page-h1 {
        display: none;
    }

    div.receipt {
        page-break-after: always;
    }

    div.ticket {
        page-break-after: always;
    }
}